services:
  - type: web
    name: inventario-consulta
    env: static
    buildCommand: npm install && npm run build
    staticPublishDir: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
